.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}
.project-list {
  @media screen and (min-width: 768px) {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  padding-inline-start: 0;
  margin: -15px;
  }
}
.project-list .item {
   
  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
} 
@media screen and (max-width: 768px) {
  .project-list .item:not(:last-child) {
     margin-bottom: 30px;
  }
}
.project-list a {
  display: block;
  min-width: 100%;
  
  background-color: $background-color;
  
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
     width: 50%;
  }
}
.project-list a:hover,
.project-list a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}
.overlay {
  position: relative;
   overflow: hidden;
}
.actions {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
    
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
    
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  
  color: $background-color;
  background-color: rgba(33, 150, 243, 0.9);
  
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list a:hover p,
.project-list a:focus p {
  opacity: 1;
  transform: translateY(0);
}

.card-contant {
  display: block; 
  height: 110px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  
  background-color: $background-color;
  
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 146px;
  }
 
}

.heading {
  margin: 0;
  
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.section-text {
  margin-top: 4px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;

  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.site-menu {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;

  @media screen and (max-width: 767px) {
  flex-grow: 3;
  flex-wrap: wrap;
  justify-content: flex-start;
  }
}
.site-menu .item + .item {
  margin-left: 8px;
  margin-bottom: 15px;
}

.passive-list {
  display: block;
  background-color: $secondary-color-grey;
  color: $primari-text-color;

  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: #F5F4FA;;
  border-radius: 4px;

  transition-property: color, $background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.passive-list:hover,
.passive-list:focus {
  background-color: $accent-color;
  color: $background-color;
  box-shadow: 0px 3px 1px rgba(0,0,0,0.1),
   0px 1px 2px rgba(0,0,0,0.08), 0px 2px 2px rgba(0,0,0,0.12);
}

.card-contant {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  padding: 20px 24px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.heading{
  margin-bottom: 4px;
  color: $primari-text-color;

  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}